@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Atención al cliente:</strong> 4771568 <br />
    <strong>Sugerencias o reclamos:</strong> <a href="mailto:dominicsc2hs@gmail.com">FarmaciasLad@gmail.com</a>
</address>